/** @format */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #12141a !important;
}
p {
  margin: 0 !important;
  font-size: 12px;
}
.cursor {
  cursor: pointer;
}

/***********Color & Background Color***********/
.bg-cl-black {
  background-color: #12141a !important;
}
.bg-cl-mat-black {
  background-color: #20232d !important;
}
.bg-cl-blue {
  background-color: #4562fe;
}
.cl-blue {
  color: #4562fe;
}
.cl-ash {
  color: #81818f;
}
/***************nav***********/
nav {
  height: 50px;
  border-radius: 10px;
}
.leftNav {
  display: flex;
}
.dropdownLeftNav {
  display: none;
}
.left-dropdown-toggle {
  background: transparent;
  border: none;
}
.left-dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle {
  background: none !important;
  border: none;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdownNav {
  display: none;
}
.navbarRight {
  display: flex;
}
.dropdown-menu.show {
  background-color: #20232d;
}
.dropdown-item {
  color: #81818f !important;
}

/*************Top Body**************/
.topBody {
  border-radius: 10px;
}
.topBodyHeading {
  border-bottom: 2px solid #12141a;
}
.marketDiv {
  border: 1px solid #2f3343;
  border-radius: 10px;
}

/************Bottom Body**********/
.search {
  width: 100%;
  display: flex;
  border: 1px solid #2f3343;
  border-radius: 10px;
}

.searchTerm {
  width: 100%;
  background-color: #181a22;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  height: 36px;
  outline: none;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: none;
  border-radius: 10px 0 0 10px;
  background: #181a22;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.nav-tabs {
  border-bottom: 1px solid #20232d !important;
}

.nav-link.active {
  border-bottom: 4px solid #4562fe !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background-color: transparent !important;
  outline: none !important;
  color: #fff !important;
}
.nav-link {
  color: #81818f !important;
  border-bottom: 4px solid transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.nav-link:hover {
  border-bottom: 4px solid #4562fe !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  color: #fff !important;
}
.tableDiv {
  border: 1px solid #2f3343;
  border-radius: 10px;
}
table {
  margin-bottom: 0 !important;
}
table tr{
  line-height: 2.5;
}
.table > :not(caption) > * > * {
  border: 0 !important;
}
.tableBody {
  border-bottom: 1px solid #20232d;
}

.footer {
  border-radius: 10px;
}

/*******************Media Query******************/

/****Nav****/

@media only screen and (max-width: 1023px) {
  .navbarRight {
    display: none;
  }
  .dropdownNav {
    display: block;
  }
  .marketRange {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav{
    justify-content: space-around !important;
  }
  .leftNav {
    display: none;
  }
  .dropdownLeftNav {
    display: block;
  }
  .marketRange {
    display: block;
  }
  .bottomBodyHead {
    flex-direction: column;
  }
  .lastTableTd {
    display: none;
  }

  .footerHide {
    display: none;
  }
}
